@import "tailwindcss";

@theme {
  --color-brand-primary: #000000;
  --color-brand-secondary: #ffffff;
  --color-brand-accent: #004DFF;
  /* Vibrant Blue */
  --color-brand-red: #FF0000;

  --font-heading: var(--font-inter), sans-serif;
  --font-subhead: var(--font-inter), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-kufam), sans-serif;
  }

  ::selection {
    background-color: #0A192F;
    color: #FFFFFF;
  }
}

@utility section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @variant md {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @variant lg {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}